@use "../../uikit/styles/index" as *;

.home {
  @include flex(unset, unset);

  .homeContainer {
    flex: 7;

    .widgets {
      @include flex(unset, unset);
      padding: $general-padding;
      gap: 20px;
    }
  }
}
